* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.triangle {
  width: 0;
  height: 0;
  border-right: 100px solid transparent;
  border-bottom: 200px solid red;
  border-left: 100px solid transparent;
}