* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
    transform: translateY(-200px);
}

.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 30px;
    color: white;
    background-color: orangered;
    width: 180px;
    height: 60px;
    box-shadow: 1px 0px 3px black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container_2 {
    background-color: bisque;
    width: 180px;
    height: 180px;
    box-shadow: 1px 0px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.present_day {
    
    height: 40px;
    width: 80px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    opacity: 50%;

}
.present_date {
    margin-top: 20px;
    height: 40px;
    width: 80px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    

}
.present_year {
    margin-top: 20px;
    height: 40px;
    width: 80px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    opacity: 50%;

}

